<app-nav></app-nav>
<div class="contenedor">
    <div class="container-app-iris">
        <div class="header-app">
            <img class="header-app-img" src="../../assets/img/logo-iris.png" alt="">
        </div>
        <div class="body-app">
            <div class="body-app-title-container">
                <p class="body-app-title">To Do List</p>
            </div>
            
            <mat-form-field class="body-app-select" appearance="fill">
                <mat-label>Select an option</mat-label>
                <mat-select disableRipple (selectionChange)="changeOptions($event.value)">  
                  <mat-option *ngFor="let tastTodo of listTodoOpcion" [value]="tastTodo.id">{{tastTodo.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-form-field" appearance="fill">
                <form [formGroup]="nameTaskTodo">
                    <input 
                    matInput
                    type="text"
                    formControlName="nameTask"
                    placeholder="Nombre ToDo...">
                </form>
                <button class="example-form-field-button" matSuffix mat-icon-button (click)="addNewTodo()">
                  <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
            <div class="body-app-title-container">
                <p class="body-app-title">{{ optionSelected }}</p>
            </div>
            <mat-divider></mat-divider>
            <div class="container-task-todo-list">
                <ng-container *ngIf="isDataTodo; else notData">
                    <div class="task-todo-list" *ngFor="let item of listTodo; let i = index; trackBy: trackById">
                        <div class="task-todo">
                            <p><mat-checkbox>{{ item.name }}</mat-checkbox></p>
                        </div>
                        <div class="task-todo-close">
                            <mat-icon (click)="deletedTask(item.id)">close</mat-icon>
                        </div>
                    </div>
                </ng-container>
                <ng-template #notData>
                    <p> No Data</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>