.contenedor {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:20%
}
.container-app-iris{
    width: 100%;
    height:530px;
    margin-top: 70px;
    border-radius: 10px;
    transition: none;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2)
}
.header-app {
    height:50px;
    background-color: #80f1f1;

    .header-app-img {
        width: 100px;
    }
}
.body-app {
    width:70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    .body-app-title-container{
        text-align:left;
        margin-top:15px;
        .body-app-title {
            color:#0d6363;
            font-size: 26px;
            font-weight: bold;
            margin:10px 0;
        }
    }
    .body-app-select {
        border: 2px solid #a6ceaa;;
        border-radius: 6px;
        height: 52px;
        margin-top:10px;
        width: 100%;
    }
    .example-form-field {
        border: 2px solid #a6ceaa;;
        border-radius: 6px;
        height: 52px;
        margin-top:10px;
        width: 100%;
        .example-form-field-button{
            cursor: pointer;
        }
    }
    .container-task-todo-list {
        overflow-y: scroll;
        height: 24vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        border: 2px solid #a6ceaa;;
        border-radius: 6px;
        padding: 0 5px;
        .task-todo-list {
            display: inline-flex;
            width: 100%;
            .task-todo{
                width: 95%;
                height: 40px;
                border: 2px solid #a6ceaa;;
                border-radius: 6px;
                text-align: left;
                padding: 5px 10px;
                margin-top: 10px;
                p {
                    color:#80f1f1;
                    font-size:14px
                }
            }
            .task-todo-close {
                width:25%;
                margin-top:5px;
                color:red;
                padding: 8px 0;
                cursor: pointer;
            }
        }
    }
    .container-task-todo-list::-webkit-scrollbar {
        display: none; 
    }
}